@model CoolCatCollects.Controllers.UsedPurchasesController.UsedPurchaseWeightsViewModel
@{
	ViewBag.Title = "Used Purchase Contents";
	var emptywt = new CoolCatCollects.Models.UsedPurchaseWeightModel();
	var emptyblp = new CoolCatCollects.Models.UsedPurchaseBLUploadModel();
	int i = 0;
}

<h2>Contents</h2>

<form method="post">
	@Html.Hidden("model.Purchase.Id", Model.Purchase.Id)

	<h4>BL Uploads</h4>

	@if (Model.BLUploads.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th title="Number of Parts">Parts</th>
					<th title="Number of Lots">Lots</th>
					<th title="Total Value">Value</th>
					<th>Notes</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var blp in Model.BLUploads)
				{
					<tr>
						<td>@Html.DisplayFor(mod => blp.Date)</td>
						<td>@Html.DisplayFor(mod => blp.Parts)</td>
						<td>@Html.DisplayFor(mod => blp.Lots)</td>
						<td>@Html.DisplayFor(mod => blp.Value)</td>
						<td>@Html.DisplayFor(mod => blp.Notes)</td>
						<td>
							@Html.ActionLink("Edit", "EditBLUpload", new { id = blp.Id }, new { @class = "btn btn-default" })
							@Html.ActionLink("Delete", "DeleteBLUpload", new { id = blp.Id }, new { @class = "btn btn-danger" })
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>No uploads found</p> 
	}

	<a href="@Url.Action("AddBLUpload", new { id = Model.Purchase.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add</a>

	<h4>Weights</h4>
	<table class="weights">
		<thead>
			<tr>
				<th>@Html.LabelFor(x => emptywt.Colour)</th>
				<th>@Html.LabelFor(x => emptywt.Weight)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var wt in Model.Weights)
			{
				<tr data-id="@i">
					@Html.Hidden("model.Weights[" + i + "].Id", wt.Id, new { @class = "id" })
					@Html.Hidden("model.Weights[" + i + "].UsedPurchaseId", wt.UsedPurchaseId)
					@Html.Hidden("model.Weights[" + i + "].Colour", wt.Colour)
					@Html.Hidden("model.Weights[" + i + "].Delete", false, new { @class = "delete" })
					<td>@Html.DisplayFor(weight => wt.Colour)</td>
					<td>@Html.TextBox("model.Weights[" + i + "].Weight", wt.Weight, htmlAttributes: new { @class = "form-control" })</td>
					<td><button class="js-remove-wt btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
				</tr>

				i++;
			}
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td><button class="js-add-wt btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
			</tr>
		</tfoot>
	</table>

	<br /><br />
	<input type="submit" class="btn btn-primary" value="Submit" />
</form>

<div style="display: none">
	@Html.DropDownList("Colour", Model.Colours, new { @class = "js-colour form-control" })
</div>

@section scripts {
	<script>
		$(function () {
			$('.js-add-wt').click(function () {
				var count = 0;
				if ($('.weights tbody tr').length !== 0) {
					count = parseInt($($('.weights tbody tr')[$('.weights tbody tr').length - 1]).attr('data-id')) + 1;
				}

				console.log(count)

				var newElem = $('<tr data-id="' + count + '"><input type="hidden" name="model.Weights[' + count + '].Delete" class="delete" value="False" /><td class="colour"></td><td>' +
					'<input class="form-control" name="model.Weights[' + count + '].Weight" type="text" /></td><td>' +
					'<button class="js-remove btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td></tr>');

				var dd = $($('.js-colour')[0]);

				newElem.find('.colour').append(dd.clone().attr('name', 'model.Weights[' + count + '].Colour'));
				newElem.find('.js-remove').click(removeClick);

				$('table.weights tbody').append(newElem);

				return false;
			});

			$('.js-remove-wt').click(removeClick);
		});

		function removeClick() {
			var tr = $(this).parents('tr');

			if (tr.find('.id').length > 0) {
				tr.hide();

				tr.find('.delete').val("True");
			}
			else {
				tr.remove();
			}


			return false;
		}
	</script>
}

