@model IEnumerable<CoolCatCollects.Models.Expenses.ExpenseModel>

@{
	ViewBag.Title = "Expenses";
}

<h2>Expenses</h2>

<p>
	@Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>

@if (Model.Any())
{
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Source)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Item)
			</th>
			<th>
				Q.
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr data-toggle="collapse" data-target="#accordion-@item.Id">
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Category)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Source)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Item)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Quantity)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
					@Html.ActionLink("Details", "Details", new { id = item.Id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.Id })
				</td>
			</tr>
			<tr id="accordion-@item.Id" class="collapse">
				<td colspan="2">
					<strong>@Html.DisplayNameFor(model => model.TaxCategory)</strong><br/>
					@Html.DisplayFor(modelItem => item.TaxCategory)
				</td>
				<td>
					<strong>@Html.DisplayNameFor(model => model.ExpenditureType)</strong><br />
					@Html.DisplayFor(modelItem => item.ExpenditureType)
				</td>
				<td>
					<strong>@Html.DisplayNameFor(model => model.OrderNumber)</strong><br />
					@Html.DisplayFor(modelItem => item.OrderNumber)
				</td>
				<td>
					<strong>@Html.DisplayNameFor(model => model.Postage)</strong><br />
					@Html.DisplayFor(modelItem => item.Postage)
				</td>
				<td colspan="2" style="white-space: pre-wrap"><strong>@Html.DisplayNameFor(model => model.Notes)</strong><br />@Html.DisplayFor(modelItem => item.Notes)</td>
			</tr>
		}

	</table>
}
else
{
	<p>No Expenses found</p>
}