@model CoolCatCollects.Bricklink.Models.OrderWithItemsModel
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/Content/PackingSlip.css?v=1" />
	<title>Peter's Pickled Packing slip Producer</title>
</head>
<body>
	<header>
		<img src="~/Content/logo.png" />
		<p>
			<strong>Cool Cat Collects</strong><br />
			19 Moorgate<br />
			Lancaster<br />
			LA1 3QF<br />
			United Kingdom
		</p>
	</header>
	@if (Model.Buyer != null)
	{
		<div class="buyer">
			<p>
				<strong>@Model.Buyer.Name</strong><br />
				@HttpUtility.HtmlDecode(Model.Buyer.Address1)<br />
				@if (!string.IsNullOrEmpty(Model.Buyer.Address2))
				{
					@HttpUtility.HtmlDecode(Model.Buyer.Address2)<br />
				}
				@if (!string.IsNullOrEmpty(Model.Buyer.City))
				{
					@HttpUtility.HtmlDecode(Model.Buyer.City)<br />
				}
				@if (!string.IsNullOrEmpty(Model.Buyer.PostCode))
				{
					@HttpUtility.HtmlDecode(Model.Buyer.PostCode)<br />
				}
				@HttpUtility.HtmlDecode(Model.Buyer.Country)
			</p>
		</div>
	}
	<hr />
	<div class="center">
		<p>
			<strong>Thank you for your order!</strong><br />
			We hope that you are delighted with your purchase.
		</p>
		<p>Should you have any questions or comments, please feel free to contact us via the Bricklink messaging service.</p>
		<p>
			Best Wishes,<br />
			Cool Cat Collect<br />
			https://store.bricklink.com/mroseives
		</p>
	</div>
	<hr />
	<br />
	<table class="half">
		<tr>
			<td><strong>Order Number:</strong></td>
			<td>@Model.OrderNumber</td>
		</tr>
		<tr>
			<td>Order Date:</td>
			<td>@Model.OrderDate</td>
		</tr>
		<tr>
			<td>Paid On:</td>
			<td>@Model.OrderPaid</td>
		</tr>
	</table>
	<img class="right-float" alt="BrickLink" src="//static.bricklink.com/renovate/img/bl_logo-horizontal.svg" style="height: 68px;">
	<hr class="clear" />
	<h2>Items in Order</h2>
	<hr />
	<table class="invoice">
		<thead>
			<tr>
				<th>Image</th>
				<th>Condition</th>
				<th class="left">Item</th>
				<th>Quantity</th>
				<th>Unit Price</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr>
					<td><img src="@item.Image" /></td>
					<td>@item.Condition</td>
					<td class="left">
						@if (!String.IsNullOrEmpty(item.Colour))
						{
							@item.Colour<br />
						}
						@item.Name<br />
						<small>@item.Description</small>
					</td>
					<td>@item.Quantity</td>
					<td>£@item.UnitPrice</td>
					<td>£@item.TotalPrice</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="totals">
		<table>
			<tr>
				<td>Subtotal:</td>
				<td class="right">@Model.SubTotal</td>
			</tr>
			<tr>
				<td>Service Charge:</td>
				<td class="right">@Model.ServiceCharge</td>
			</tr>
			<tr>
				<td>Postage & Packing:</td>
				<td class="right">@Model.PostagePackaging</td>
			</tr>
			@if (Model.Coupon != "£0.00")
			{
				<tr>
					<td>Coupon:</td>
					<td class="right">-@Model.Coupon</td>
				</tr>
			}
			<tr>
				<td><strong>Total:</strong></td>
				<td class="right">@Model.Total</td>
			</tr>
		</table>
	</div>
</body>
</html>
